extends ./layout.pug
include ../blocks/header/header
include ../blocks/footer/footer

block prepend head
  -var title = "UI Kit"

block body
  <div class="wrapper">
    +header("hello world")
    +footer
  </div>  