$main: #4b4b4b;
$accent: #006cb4;

$prime: #4eb7a7;
$prime-dark: #28a290;

$second: #e75735;
$second-dark: #bf3e1f;

$lite: #e7e7e7;
$bright: #e3e6e7;
$dark: #5f676c;
$text: #000;

$main-font: "Myriad Pro", sans-serif;
$heading-font: "Myriad Pro", sans-serif;

$container-size: 1920px;

$grid-columns: 12;
$grid-gutter-width: 30px;
