$main: #4b4b4b;
$accent: #ff6d00;
$lite: #a9a9a9;
$bright: #eef2f4;
$dark: #5f676c;
$text: #4b4b4b;

$main-font: "Open Sans", sans-serif;
$heading-font: "Open Sans", sans-serif;

$container-size: 1170px;
$grid-columns: 12;

$grid-gutter-width: 30px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px,
);
