mixin header(text,image)
  - var url = "../img/"+image
  <header>      
    <div class="container">
      <div class="hero">        
        <span class="text">#{text}</span>          
        <img src="#{url}" alt="" />        
      </div>          
    </div>    
  </header>