//----
.header {
  background: blueviolet;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__title {
  text-align: center;
}
